{% load static %}
<html>
	<head>
		<title>Game DB</title>
	</head>
	<body>
		<div class="page-header">
			<a href="{% url 'show_games' %}" class="top-menu">List of Games</a>
			<a href="{% url 'show_company' %}" class="top-menu">List of Companies</a>
			{% if user.is_authenticated %}
			<a href="{% url 'add_company' %}" class="top-menu">Add Company</a>
			<a href="{% url 'add_game' %}" class="top-menu">Add Game</a>
			{% endif %}
			<h1><a href="/">Game DB</a></h1>
			{% if user.is_authenticated %}
				Hi {{ user.username }}!
				<a href="{% url 'logout' %}">logout</a>
			{% else %}
				<p>You are not logged in.</p>
				<a href="{% url 'login' %}">login</a>
			{% endif %}
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>