{% load static %}
<html>

<head>
	<title>Game DB</title>
	<link rel="stylesheet" href="{% static 'gamedb/semantic.css' %}">
	<script src="{% static 'gamedb/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'gamedb/semantic.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.ui.dropdown').dropdown();
			$('.nav.menu .item').click(function () {
				document.location.href = $(this).attr("data-url");
			});

		});
	</script>
</head>

<body style="height:91%">
	<div class="ui top fixed inverted menu" style="border-bottom: #DB2828 3px solid">
		<div class="item">
			<h1><a href="/" style="color:#DB2828">Game DB</a></h1>
		</div>
		<a class="red {% ifequal active 'gamesList'%} active {% endifequal %} item" href="{% url 'show_games' %}">List of
			Games</a>
		<a class="red {% ifequal active 'gamesCompanyList'%} active {% endifequal %} item" href="{% url 'show_company' %}"
		 class="top-menu">List of Companies</a>
		{% if user.is_authenticated %}
		<a class="red {% ifequal active 'gamesCompanyAdd'%} active {% endifequal %} item" href="{% url 'add_company' %}">Add
			Company</a>
		<a class="red {% ifequal active 'gamesAdd'%} active {% endifequal %} item" href="{% url 'add_game' %}">Add Game</a>
		{% endif %}

		<div class="right menu">
			<div class="item">
				<!--------- Log In/Sign Out Button --------->
				<a class="ui pointing dropdown link red button">
					<i class=" user circle icon"></i>
					{% if user.is_authenticated is True %}{{ user.get_username }}{% else %}Guest
					{% endif %}
					<div class="nav menu">
						{% if user.is_authenticated is True %}
						<div class="item" data-url="{% url 'logout' %}"><i class="sign out icon"></i> Sign Out</div>
						{% else %}
						<div class="item" data-url="{% url 'login' %}"><i class="sign in icon"></i>Log in</div>
						{% endif %}
						<!-- <div class="disabled item"><i class="help icon"></i> Help</div> -->
					</div>
				</a>

			</div>
		</div>
	</div>
	<div class="ui container" style="margin-top:6rem;">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>

</html>