{% extends 'base.html' %}

{% block content %}
<h2>
	Edit {{ item }} Details: {{ form.title}}
</h2>
{% if success == 1 %}
<div class="ui positive add-attempt message">
		<i class="close icon"></i>
		<div class="header">
			Success!
		</div>
		<p>{{item}} Details were successfully updated!
		</p>
	</div>
{% endif %}
<div class="ui fluid blue-border card">
	<div class="ui top attached label"><i class="add icon"></i>Enter {{item}} Information</div>
	<div class="content">
		<p>
			<form method="POST" class="ui form" action="{% url 'edit_game_action' gid=form.gid %}">{% csrf_token %}
				<div class="required field">
					<label>Title</label>
					<input placeholder="Game Title" type="text" name="title" value="{{form.title}}">
				</div>
				<div class="required field">
					<label>Game Type</label>
					<input placeholder="Game Type" type="text" name="game_type" value="{{form.game_type}}">
				</div>
				<div class="required field">
					<label>Release Date</label>
					<input placeholder="mm/dd/yyyy" type="date" name="release_date"  value={% if form.release_date|date:'Y-m-d' %} "{{form.release_date|date:'Y-m-d'}}" {% else %} "{{form.release_date}}" {% endif %}>
				</div>
				<div class="required field">
					<label>Description</label>
					<textarea placeholder="Description" type="field" name="description">{{form.description}}</textarea>
				</div>
				<div class="required field">
					<label>Creator Company</label>
					<input placeholder="Creator Company Name" type="text" name="made_by" value="{{form.made_by}}">
				</div>
				<div class="ui error message"></div>
				<button type="submit" class="right floated ui primary button">Save</button>
				
			</form>
		</p>
	</div>
</div>
{% endblock %}