{% extends 'base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'gamedb/home.png' %}" width="100%">
<p>
    <h1 class="ui horizontal divider header" style="color:#DB2828">
        The Guild
    </h1>
</p>
<p style="text-align: justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p style="padding-top:20px; text-align:center">
    <a href="{% url 'show_games' %}" class="ui red button">List of Games</a>
    <a href="{% url 'show_company' %}" class="ui button">List of Companies</a>
    <br><br>
    {% if user.is_authenticated is False %}       
    Wanna Contribute Entries? <a href="{% url 'signup' %}">Sign Up</a> or <a href="{% url 'login' %}">Log In</a>
    {% endif %}
        
</p>


{% endblock %}