{% extends 'base.html' %}

{% block content %}
<h2>List of Games</h2>

<table class="ui center aligned red fixed table">
	<thead>
		<tr>
			<th class="three wide">Title</th>
			<th class="two wide">Release date</th>
			<th>Description</th>
			<th class="three wide">Creator</th>
			<th class="two wide">Type</th>
			<th class="two wide"></th>
		</tr>
	</thead>
	<tbody>

		{% for game in game_list %}
		<tr>
			<td class="left aligned">{{ game.title }}</td>
			<td>{{ game.release_date }}</td>
			<td class="left aligned">{{ game.description }}</td>
			<td>{{ game.made_by }}</td>
			<td>{{ game.game_type }}</td>
			<td>
				<button data-url="{% url 'show_game_info' gid=game.gid %}" class="ui compact red icon button">
					<i class="eye icon"></i>
				</button>
				{% if user.is_authenticated is True %}
				<button data-url="{% url 'edit_game' gid=game.gid %}" class="ui compact blue icon button">
					<i class="edit icon"></i>
				</button>
				<button data-url="{% url 'delete_game' gid=game.gid %}" class="ui compact icon button">
					<i class="trash icon"></i>
				</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}